@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Noto+Sans+Sogdian&family=Roboto:wght@500&family=Signika:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Noto+Sans+Sogdian&family=Roboto:wght@500&display=swap');




@media (0px <= width < 520px) {
  .pCategory-name1{
    margin-left: 25px !important;
    position: relative; 
    bottom: 20px !important;
    font-family: 'Roboto';
    font-weight: 500;
  }
  
  

  .pCategory-name{
    font-size: 1.1em !important;
  }

 .move-back-a-little{
  margin-left: -20px !important;
}
}


.move-back-a-little{
  margin-left: 0px;
}
.cat-and-task{
  margin-bottom: 20px;
}
.cat-task-container{

  height: 100%;
  position: relative;
  border:none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 0;
  margin-top: 20px;
}

.pCategory-name1{
  font-size: 1.6em !important;
  display: inline-block;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 500; 

}
.totalScore{
  display: flex;
  margin: 5px 20px;
  justify-content: space-between;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.scoreP{
  font-size: 2em;
 
  font-weight: 500;
  margin-bottom: 5px;
}

.category-card{
  border: 2px solid black;
  display: flex;
  margin: 0px 20px;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  
}



.task-card{
  border: 2px solid black;
  display: flex;
  margin: 0px 30px;
  flex-direction: column;
  background-color: white;
  border-top:none;
  position: relative;
  bottom: 40px;
  z-index: -1;
  transition: all ease .5s;


}
.task-card2{
  border: 2px solid black;
  display: flex;
  margin: 0px 30px;
  flex-direction: column;
  background-color: white;
  border-top:none;
  position: relative;
  bottom: 40px;
}

.task-card-enter{
  transition: all ease .5s;
  bottom: 0px;
  z-index: 1;
  
}
.task-card-enter2{
  transition: all ease .5s;
  bottom: 16px;
  z-index: 1;
  
}

.pCategory-name12{
  vertical-align: middle; 
  position: relative;
  margin-left: -10px;
  align-items: center;
}
.cat-name{
  display: flex;
  margin: 5px 10px;
  justify-content: space-between;
  width: auto;
}

.pCategory{
  display: inline-block;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.2em;

}
.pCategory-name{
  font-size: 1.6em !important;
  display: inline-block;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 500;
}

.pCategory-task{
  font-size: 1.3em;
  display: inline-block;
  margin: 0;
  font-family: 'Roboto';
  font-weight: 500;
}

.task-dropdown{
  color:black;
  text-decoration: none;

}
/*<img width="24" height="24" src="https://img.icons8.com/material-rounded/24/star--v1.png" alt="star--v1"/>*/