.add-container,.added-Container
{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 12px;
  margin-bottom: 10px;
 
  justify-content: center;
}

body
{
  background-color: rgba(175, 240, 219, 0.114);
}
.add-container
{
  align-items: stretch;
  margin-bottom: 20px;
}

.added-Container
{
  align-items: center;
  row-gap: 10px;
 
}

.cool
{
display: inline;
margin: 0;
transition: width .2s;
}

.addButton
{
  background-color:rgb(27, 174, 27);
  color:white;
  padding: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, .2);
}

.delButton
{
  background-color:rgb(159, 14, 14);
  color:white;
  padding: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, .3);
}

.inputs
{
  padding: 7px;
}

